.disable-dbl-tap-zoom {
  touch-action: manipulation;
}
html {
  text-align: center;
  touch-action: manipulation;
}

.saveGame {
  float: left;
  width: 15vh;

 }


.lightbulb {

  height: 6vh;
  float: right;
  margin-right: 3vh;
  margin-top: 2vh;
  touch-action: manipulation;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

body {
  touch-action: manipulation;
  background-color: #2c3e50;
  min-height: 100%;
}
.display {
  touch-action: manipulation;
  color: #ffffff;
  font-size: 5vh;
  padding-bottom: 3vh;
  padding-top: 12vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.wrapper {
  touch-action: manipulation;
  padding-top: 3vh;
}

.button_container {
  overflow: auto;
  border-radius: 5px;
  border: none;
  touch-action: manipulation;
  font-size: 2.5vh;
  background-color: #32506f; /* Green background */
  color: white; /* White text */
  cursor: pointer; /* Pointer/hand icon */
  width: 45vh; /* Set a width if needed */
  height: 11vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  touch-action: manipulation;
}

button[disabled] {
  background-color: #cccccc;
  color: #666666;
  touch-action: manipulation;
}
button:disabled {
  touch-action: manipulation;
}
@media screen and (min-width: 700px) {
  button:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
  }
  button:active {
    -webkit-transform: scale(.96);
    -ms-transform: scale(.96);
    transform: scale(.96);
}
  input:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}
input:active {
  -webkit-transform: scale(.96);
  -ms-transform: scale(.96);
  transform: scale(.96);
}}
  particle {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    font-weight: bold;
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    touch-action: manipulation;
  }
  label {
    font-weight: bold;
    font-size: 2vh;
  }
  
  .usernameBox {
    text-align: center;
    width: 100%;
    padding: 1vh 3vh;
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
    box-sizing: border-box;
    font-size: 3vh;
  
  }
  .saveButton{
    border-radius: 5px;
    border: none;
    font-size: 3vh;
    border: .1vh solid black;
  }



/* The Modal (background) */
.save {
  margin-left: 3vh;
  margin-top: 2vh;
  float: left;
  border-radius: 5px;
  border: none;
  touch-action: manipulation;
  background-color: #32506f; /* Green background */
  color: white; /* White text */
  cursor: pointer; /* Pointer/hand icon */
  width: 5.5vh; /* Set a width if needed */

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  touch-action: manipulation;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.modal {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 2vh;
  border: 4px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 8px;

}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 3vh;
  font-weight: bold;
  margin-top: -20px;
}

.close:hover,
.close:focus {

  color: black;

  cursor: pointer;
}
.highscores {
  font-size: 2.5vh;
  padding: .5vh;
}
hr.dashed {
  border:none;
  border-top:.5vh dashed rgb(156, 156, 156);
  color:#fff;
  background-color:#fff;
  height:.1vh;
  width:50%;
}

