.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

html {
  text-align:center;
  touch-action: manipulation;
}

.lightbulbNav {
  height: 7vh;
  float: right;
  margin-right: 3vh;
  margin-top: 2vh;
  touch-action: manipulation;
}

.saveNav {
  height: 8vh;
  float: left;
  margin-left: 3vh;
  margin-top: 1.5vh;
  touch-action: manipulation;
}

body {
  background-color: #2980b9;
  min-height: 100%;
  touch-action: manipulation;
}

.display {
  touch-action: manipulation;
  color: #ffffff;
  text-rendering: optimizeSpeed;
  font-size: 5vh;
  padding-bottom: 3vh;
  padding-top: 12vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper {
  touch-action: manipulation;
  padding-top: 3vh;
}

.button_container {
  overflow: auto;
  border-radius: 5px;
  border: none;
  touch-action: manipulation;
  font-size: 2.5vh;
  background-color: #3498db;
  /* Green background */
  color: white;
  /* White text */
  cursor: pointer;
  /* Pointer/hand icon */
  width: 45vh;
  /* Set a width if needed */
  height: 11vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  touch-action: manipulation;
}

.button_container:hover {
  width: 45vh;
  /* Set a width if needed */
  height: 11vh;
}

.button_container[disabled] {
  background-color: #cccccc;
  color: #666666;
  touch-action: manipulation;
}

@media screen and (min-width: 500px) {
  .saveButton[disabled] {
    background-color: #cccccc;
    color: #666666;
    touch-action: manipulation;
  }

  .saveButton[disabled]:hover {
    background-color: #cccccc;
    color: #666666;
    touch-action: manipulation;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .saveButton:hover {
    -webkit-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96);
  }

  .saveButton:active {
    -webkit-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
  }

  .saveNav:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  .lightbulbNav:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  .saveNav:active {
    -webkit-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96);
  }

  .lightbulbNav:active {
    -webkit-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96);
  }
}

particle {
  font-weight: bold;
  text-shadow: 2px 2px 6px #000000;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  touch-action: manipulation;
}

label {
  font-weight: bold;
  font-size: 2vh;
}

.usernameBox {
  text-align: center;
  width: 85%;
  margin-bottom: 1.5vh;
  margin-top: 1.5vh;
  box-sizing: border-box;
  font-size: 3vh;
  max-width: 25vh;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(134, 134, 134, 0.568);
  font-size: 80%;
  align-self: center;


}

.saveButton {
  border-radius: 4px;
  border: none;
  font-size: 3vh;
  border: .2vh solid black;
}
/* The Modal (background) */
.modalHeader {
  font-size: 3vh;
  padding-left: 5vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.save {
  margin-left: 3vh;
  margin-top: 2vh;
  float: left;
  border-radius: 5px;
  border: none;
  touch-action: manipulation;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  width: 5.5vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  touch-action: manipulation;
}

.modal {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 2vh;
  border: 4px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
  border-radius: 8px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 3vh;
  font-weight: bold;
  margin-top: -25px;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

.highscores {
  font-size: 2.5vh;
  padding: 1.5vh;
  overflow: hidden;
  text-align: start;
}

hr.dashed {
  border: none;
  border-top: 0.5vh dashed rgb(156, 156, 156);
  color: #fff;
  background-color: #fff;
  height: .1vh;
  width: 100%;

}

#progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: #eee;
  height: 8px;
}

#progress-bar {
  height: inherit;
  background: rgb(255, 255, 255);
  transition: 0.25s;
}